* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

header {
   width: 100%;
   background-color: #FCF7DE;
   padding: 30px;
   text-align: center;
}

h1 {
   margin: 0;
   font-family: "Jua";
}

.navigation {
   width: 100%;
   background-color: #F0DEFD;
   display: flex;
   justify-content: center;
   padding: 10px 0;
}

.nav-menu {
   display: flex;
   align-items: center;
}

.nav-menu .button {
   display: inline-block;
   padding: 8px 12px;
   margin: 0 5px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-decoration: none;
   color: #333;
   background-color: transparent;
   transition: background-color 0.3s, color 0.3s;
}

.nav-menu .button:hover {
   background-color: #ddd;
   color: #000;
}

main {
   text-align: center;
   width: 100%; 
   padding: 20px; 
}

.form-field {
  margin-bottom: 20px; 
}

.form-field label {
  display: block; 
}

.info{
   margin-top: 10%;
   margin-bottom: 5%;
}

.progress-bar {
   width: 50%;
   background-color: #ccc;
   height: 20px;
   border-radius: 10px;
   overflow: hidden; 
}

.progress-bar-fill {
   height: 100%;
   background-color: #4caf50; 
   transition: width 0.3s ease-in-out; 
}
