.calendar {
  width: 900px;
  height: 600px;
  margin: 2rem auto; 
  display: flex;
  flex-direction: column;
}

.calendar-header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title,
.tools {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title h2,
.tools button {
  margin: 0; 
}

.tools button {
  padding:5%; 
  margin-right: 10%;
  margin-left: 10%;
  background-color: #FCF7DE;
  border: 1px solid #cccccc; 
  border-radius: 4px; 
  cursor: pointer; 
}

.tools button:hover {
  background-color: #f0f0f0; 
}

.tools button img {
  width: 24px;
  height: 24px;
}

.calendar-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.weekday {
  width: 100px;
  text-align: center;
}

.table-content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
}

.calendar-day {
  width: calc(100% / 7); 
  height: 85px;
  position: relative;
  border: 1px solid #a6a6a6;
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  justify-content: center; 
  background-color: #FCF7DE;
}

.calendar-day:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.calendar-day p {
  margin: 0; 
  text-align: center; 
}

.calendar-day input {
  width: 80%; 
  margin: auto; 
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}
